@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  
}
.container span {
  font-size: 120pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.container span:hover {
  filter: contrast(250%);
}
.container span:nth-child(1) {
  color: #ff0077a8;
}
.container span:nth-child(2) {
  color: #ff0697;
}
.container span:nth-child(3) {
  color: #ff4d00;
}
.container span:nth-child(4) {
  color: #ffe600;
}
.container span:nth-child(5) {
  color: #bb00ff;
}
.container span:nth-child(6) {
    color: #db00f8;
}
.container span:nth-child(7) {
    color: #99f800;
}
.container span:nth-child(8) {
    color: #d3f800;
}
.container span:nth-child(9) {
    color: #f80099;
}
.container span:nth-child(10) {
    color: #00f8ae;
}
.container span:nth-child(11) {
    color: #f87000;
}
.container span:nth-child(12) {
    color: #f8003e;
}
.container span:nth-child(13) {
    color: #a1f800;
}
.container span:nth-child(14) {
    color: #f87800;
}
.container span:nth-child(15) {
    color: #f8000c3d;
}
.container span:nth-child(16) {
    color: #f000f8;
}

.container h2 {
    font-size: 30pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
  }



.container h1 {
    font-size: 15pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
  }

